---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Quote from "../components/Quote.astro";

const quote111 = await getEntry("quotes", "111");
---

<Layout title="Welcome to Astro.">
    <main>
        <h1>Here comes the hot stepper.</h1>

        <Quote data={quote111.data} />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 16px;

        background-color: black;
    }
</style>
